SEProject/nbproject/private/

SEProject/nbproject/build-impl.xml
SEProject/nbproject/genfiles.properties
SEProject/nbproject/project.properties

SEProject/build/
SEProject/dist/

*.iml
*.swp
*.swo
*.bak

.DS_Store
Thumbs.db
